<div id="<%= dom_id contact_request %>">
  <p>
    <strong>Name:</strong>
    <%= contact_request.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact_request.email %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= contact_request.subject %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= contact_request.message %>
  </p>

</div>
